{% load static %}
<html>
<head>
<title>OMDB API demo app</title>
<link rel="stylesheet" type="text/css" href="{% static "omdb_demo/index.css" %}" />
</head>

<body>

<!-- TODO: search form -->


{% if series %}
<div class="section">
	<h2 class="series_title"> {{series.Title}} </h2>
	<img class="series_image" src="{{series.Poster}}" />
	<div class="series_plot"> {{series.Plot}} </div>
	<ul class="series_details">
	{% for detail_item in series.detail_items %}
		<li><div class="series_details_header">{{detail_item.header}}</div>{{detail_item.value}}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

</body>
</html>
